<section id="registro" class="">
  <div class="container">
    <h1 class="cover-heading">Registro</h1>
    <hr>
    <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores eligendi illum in incidunt nisi nulla numquam, provident totam voluptatem?
      Consequuntur cum ex illo mollitia nihil optio reprehenderit. Consequatur, fugit.</p>
    <p class="lead text-justify">Ab aut eos eum incidunt ipsa iure, nulla quam, quis recusandae reiciendis sint sit tempore voluptates. Ab alias deleniti dolorem inventore laborum molestias nobis odio, quibusdam repellat sapiente totam voluptates.</p>

    <form class="form-signin" (ngSubmit)="onSubmit(formRegistro)" [formGroup]="formRegistro" >
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <label for="username" class="sr-only">Usuario</label>
          <input type="text"
                 id="username"
                 name="username"
                 formControlName="username"
                 class="form-control"
                 placeholder="Usuario"
                 (blur)="checkUsername(formRegistro)" >

          <label for="password" class="sr-only">Password</label>
          <input type="password"
                 id="password"
                 name="password"
                 formControlName="password"
                 class="form-control"
                 placeholder="Password">

          <label for="passwordRepeated" class="sr-only">Repita el password</label>
          <input type="password"
                 id="passwordRepeated"
                 name="passwordRepeated"
                 formControlName="passwordRepeated"
                 class="form-control"
                 placeholder="Repita password">

          <label for="email" class="sr-only">Email address</label>
          <input type="email"
                 id="email"
                 name="email"
                 formControlName="email"
                 class="form-control"
                 placeholder="Email" >

          <label for="birthdate" class="sr-only">Fecha de nacimiento</label>
          <input type="date"
                 id="birthdate"
                 name="birthdate"
                 formControlName="birthdate"
                 class="form-control datepicker"
                 placeholder="Fecha de nacimiento" >

          <div *ngIf="usernameDuplicated" id="user-reg-required" class="alert alert-danger">Usuario repetido, inserte otro</div>
          <div *ngIf="!passwordsDuplicated" id="password-result-reg-required" class="alert alert-danger">Las passwords no coinciden</div>
          <div *ngIf="registerSuccess" id="user-reg-success" class="alert alert-success">Usuario registrado</div>
        </div>
      </div>
      <div class="row">
        <button id="btnRegistro" type="submit" [disabled]="formRegistro.invalid" class="btn btn-lg btn-primary btn-md" >Enviar</button>
      </div>
    </form>
  </div>
</section>
