<section id="servicios" class="">
  <div class="container">
    <h1 class="cover-heading">Servicios</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="text-center" colspan="3">Alquiler pista</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row"></th>
            <th scope="col">Abonados</th>
            <th scope="col">No abonados</th>
          </tr>
          <tr>
            <th scope="row">1 hora</th>
            <th scope="col">2€</th>
            <th scope="col">3€</th>
          </tr>
          <tr>
            <th scope="row">1:30 horas</th>
            <th scope="col">3€</th>
            <th scope="col">4€</th>
          </tr>
          <tr>
            <th scope="row">2 horas</th>
            <th scope="col">4€</th>
            <th scope="col">5€</th>
          </tr>
          </tbody>
        </table>
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="text-center" colspan="3">Abonos</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Mensual</th>
            <th scope="col">Trimestral</th>
            <th scope="col">Anual</th>
          </tr>
          <tr>
            <th scope="row">25€</th>
            <th scope="col">60€</th>
            <th scope="col">200€</th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores eligendi illum in incidunt nisi nulla numquam, provident totam voluptatem?
          Consequuntur cum ex illo mollitia nihil optio reprehenderit. Consequatur, fugit.</p>
        <p class="lead text-justify">Ab aut eos eum incidunt ipsa iure, nulla quam, quis recusandae reiciendis sint sit tempore voluptates. Ab alias deleniti dolorem inventore laborum molestias nobis odio,
          quibusdam repellat sapiente totam voluptates.</p>
      </div>
    </div>
  </div>
</section>
