<header class="container">
  <div class="row">
    <div class="navbar-header">
      <a class="masthead-brand" href="http://www.upm.es" target="_nueva"><img src='../../../assets/img/upmlogo.jpg' id='upmlogo'> PÁDEL U.P.M.</a>
    </div>
    <nav>
      <ul class="nav masthead-nav">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/instalaciones" routerLinkActive="active">Instalaciones</a></li>
        <li><a>Reservas</a></li>
        <li><a><span class="glyphicon glyphicon-user"></span> Registro</a></li>
        <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
