<section id="instalaciones" class="">
  <div class="container">
    <h1 class="cover-heading">Instalaciones</h1>
    <hr>
    <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores eligendi illum in incidunt nisi nulla numquam, provident totam voluptatem?
      Consequuntur cum ex illo mollitia nihil optio reprehenderit. Consequatur, fugit.</p>
    <p class="lead text-justify">Ab aut eos eum incidunt ipsa iure, nulla quam, quis recusandae reiciendis sint sit tempore voluptates. Ab alias deleniti dolorem inventore laborum molestias nobis odio,
      quibusdam repellat sapiente totam voluptates.</p>
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.9299568748893!2d-3.629890384429269!3d40.388244965295044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225a43c7652a9%3A0xa40c56b8ce452f7a!2sAv.+del+Campus+Sur%2C+28031+Madrid!5e0!3m2!1ses!2ses!4v1541490914418"
                    scrolling="no" marginheight="0" marginwidth="0" frameborder="0" width="100%" height="500px" id="gmap_canvas">
            </iframe>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-5 text-justify  ">
        <div class="row table-bordered section-table">
          <p>Disponemos de: </p>
          <ul>
            <li>4 pistas de cristal cubiertas.</li>
            <li>3 pistas de cristal semicubiertas.</li>
            <li>3 pistas de cemento exteriores.</li>
            <li>2 pistas de tenis.</li>
            <li>Vestuarios completos.</li>
            <li>Cafetería con terraza.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
